/* You can add global styles to this file, and also import other style files */
H1{
    
    background-color: rgb(230, 227, 92);
    font-family: !important Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: 3em sans-serif;
}
.todo-count{
    float: left;
    border: black;
    color: darkgray;
    background-color: rgb(185, 230, 134);
   
}